.env
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
.venv/
venv/
*.log
data/sample_deal/*
!data/sample_deal/.gitkeep
ppp.md
qdrant_local_db/
qdrant_test_db/
qdrant_test_db_v2/
docker_data/
*.md
auric*